<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Final Results!</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="icon" type="image/x-icon" href="/img/Concert_companion_white.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans&family=Urbanist&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css">
</head>

<body>
    <div class="artist">
        <% if (performingArtistDetails) { %>
            <!-- Display artist details when available -->
            <div class="artist-display">
                <img class="artist-image" src=<%=performingArtistDetails[0].images[0].url%> width="300" height="300">
                <span class="artist-name">
                    <%= performingArtistDetails[0].name %>
                </span>
                <span>
                    <h2>
                        <b>
                            <%=randomNum%>%
                        </b> match!
                    </h2>
                </span>
                <div class="artist-details">
                    <a href="<%=performingArtistDetails[0].external_urls.spotify%>"><button class="spotify-link"><b>Open
                                in
                                Spotify</b></button></a>
                </div>
            </div>
            <% } else if (!performingArtistDetails) { %>
                <img class="artist-image" src=<%=artistDetails[0].images[0].url%> width="300" height="300">
                <span class="artist-name">
                    <%=artistDetails[0].name%>
                </span>
                <span>
                    <h2>
                        <b>100% </b>match!
                    </h2>
                </span>
                <div class="artist-details">
                    <a href="<%=artistDetails[0].external_urls.spotify%>"><button class="spotify-link"><b>Open in
                                Spotify</b></button></a>
                    <% } else { %>
                        <h2>This Artist might not be a right match for you</h2>
                        <% } %>
                </div>
    </div>
</body>

</html>